@charset "utf-8";
.main{
    margin:auto;
    width: 1000px;
	height: 620px;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url(../images/example-bg.jpg);
}
.n{
	position: absolute;
	width:71px;
	height:90px;
	display: inline-block;
	background-image: url(../images/nav0.png);
	top: 12px;
	left: 20px;
}
.n:link {
	text-decoration: none;
	display: inline-block;
}
.n1,.n2,.n3,.n4,.n5{
	position: absolute;
	width:76px;
	height:68px;
	top: 5px;
}
.n1{
	left: 100px;
	background-image: url(../images/example1.png);
}
.n2{
	left: 180px;
	background-image: url(../images/study.png);
}
.n3{
	left: 260px;
	background-image: url(../images/experience.png);
}
.n4{
	left: 340px;
	background-image: url(../images/practice.png);
}
.n5{
	left: 420px;
	background-image: url(../images/summary.png);
}
.n:hover{
	transform: scale(1.1);
}
.n{
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.v{
	border: 0px;
	position: absolute;
	width: 555px;
	height: 335px;
	top: 105px;
	left: 160px;
}
.v1,.v2,.v3,.v4{
	position: absolute;
	cursor: pointer;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	font-family: "楷体";
	color: hsla(72,7%,15%,1.00);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	left: 800px;
}
.v1{
	top: 48%;
	background-color: #E4CA76;
}
.v2{
	top: 55%;
	background-color:#B7504B;
}
.v3{
	top: 62%;
	background-color: #76A2C5;
}
.v4{
	top: 69%;
	background-color: #68EC72;
}
.back{
	position: absolute;
	top: 90%;
	left: 20%;
	width: 87px;
	height: 55px;
	background-image: url(../images/back.png);
}
.next{
	position: absolute;
	top: 90%;
	right: 20%;
	width: 92px;
	height: 55px;
	background-image: url(../images/next.png);
}